{% extends 'base.html'%}
{%block title %}Main{% endblock %}
{% block content %}

<h1>Friendler</h1>
<p> - это онлайн-платформа, которая позволяет людям найти свою вторую половинку,
    общаться с новыми людьми и расширять свой круг общения.<br>
    Этот сайт позволяет пользователям создавать профили,
    в которых они могут предоставить информацию о себе и своих интересах,<br>
    загружать фотографии и искать других пользователей, которые соответствуют их критериям поиска.</p>
<h2>Цель</h2>
<p>
    Ну как же? Помочь людям найти истинную любовь, стать частью крепких отношений или найти новых друзей.
    Friendler позволяет пользователям общаться и находить общие интересы, что является отличной отправной точкой
    для дальнейшего знакомства и взаимодействия в реальной жизни.
</p>
<h2>Как пользоваться?</h2>
<p>
    Friendler предоставляет пользователям различные возможности, такие как поиск по географическому местоположению,
    возрасту,полу и интересам, общение в чате или через систему сообщений,
    отправку виртуальных подарков и многое другое.
    Особенность и главное отличие Friendler в том, что вы можете организовать себе свидание в реальной жизни,
    назначить время и выбрать место.
</p>
<h3>Правила</h3>
<h6>Для использования сайта просим ознакомиться с парой простых правил, которые сделают
    общение комфортным и безопасным для всех пользователей.
</h6>
<p>
    1.Не размещайте на сайте фальшивую информацию или представляйте себя не тем, кто вы есть на самом деле.<br>
    2.Не используйте сайт для рекламы продуктов или услуг, размещения спама или мошенничества.<br>
    3.Не присылайте неуместный или оскорбительный контент другим пользователям.<br>
    4.Не используйте сайт для публикации материалов, нарушающих авторские права или права на интеллектуальную собственность.<br>
    5.Сайт может содержать материалы, неприемлемые для некоторых пользователей, такие как обнаженные фотографии или материалы сексуального характера.<br>
    6.Если вы не хотите просматривать такой контент, пожалуйста, не регистрируйтесь на сайте.<br>
    7.Не разглашайте личную информацию других пользователей без их явного разрешения.<br>
    8.Сайт может быть использован только для законных целей, и любое нарушение закона может привести к немедленной блокировке учетной записи.<br>
    9.Сайт может изменять свои правила и условия в любое время, и пользователи должны регулярно проверять эти изменения.<br>
    10.Сайт не гарантирует положительного исхода поиска партнера или друга, и не несет ответственности за любой ущерб или потерю, понесенные в результате использования сайта.<br>
    11.Использование сайта подразумевает ваше согласие с этими правилами и условиями, а также с нашей политикой конфиденциальности. Если вы не согласны с этими правилами, пожалуйста, не используйте сайт.



</p>


{% endblock %}